.DS_Store
node_modules/
npm-debug.log
yarn-error.log


uploaded/avatar/*
!uploaded/avatar/.gitkeep
!uploaded/avatar/default.png

uploaded/media/*
!uploaded/media/.gitkeep
!uploaded/media/default.png

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
